@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  height: 100vh;
}

.pagina {
  background-color: #f5f6fa;
  min-height: 100vh;

  .cabecalho {
    background-color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  i {
    font-size: 40px;
    margin-top: 30px ;
    cursor: pointer;
  }

  h1 {
    font: 600 34px 'Poppins';
  }

  .container-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    .container-formulario {
      margin-top: 250px;
      box-shadow: 0px 0px 40px 2px #ddd5d5;
      border-radius: 20px;
      padding: 0px 30px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      h2 {
        font: 600 38px 'Poppins';
        padding-bottom: 30px;
      }

      input {
        margin-bottom: 40px;
        min-width: 80%;
        height: 60px;
        font: 500 25px 'Poppins';
        padding-left: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
      }

      span {
        font: 500 25px 'Poppins';
        margin-top: 13px;
      }

      .container-checkbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start !important;
        width: 80%;
        text-align: center;

        .checkbox {
          min-width: 2% !important;
          width: 30px ;
          margin-left: 18px;

        }
      }

      .container-data {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start !important;
        width: 80%;
      }

      button {
        width: 200px;
        height: 60px;
        cursor: pointer;
        font: 600 20px 'Poppins';
        background-color: rgb(73, 224, 73);
        border: none;
        border-radius: 5px;
        margin-bottom: 30px;
      }
    }
  }
}